<div class="change-password-form">
  <div class="form-header">
    <h2 class="form-title">{{ title }}</h2>
    <p class="form-subtitle">Update your password to keep your account secure</p>
  </div>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <!-- Success Message -->
    <div *ngIf="successMessage()" class="success-message">
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
      </svg>
      {{ successMessage() }}
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage()" class="error-message">
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
              d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      {{ errorMessage() }}
    </div>

    <!-- Current Password Field -->
    <div *ngIf="showCurrentPassword" class="form-field">
      <label for="currentPassword" class="field-label">Current Password</label>
      <div class="input-wrapper">
        <div class="input-icon">
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                  d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2/div>>
<rmfo <//div>
   <tton>
    </bu     }}</span>
ord' PasswUpdate: 'ing...' Updat 'ing() ?ad{{ lo  <span>v>
      ner"></dig-spins="loadin" clas"loading() *ngIf=      <divid">
  rdForm.invalasswochangeP || g()oadinisabled]="lry" [dtn btn-prima="bit" classe="subm <button typ  
     </button>l
      Cance)">
      ding(]="loadisabled)" [cel(k)="onCan" (clicndaryn btn-secolass="bt"button" con type=  <butts">
    ctionform-as="div clas>
    <ctions ---- Form Av>

    <!di   </   </ul>
 
   ter</li>cial charac')">One speue || 'Control?.valnewPassword/.test(%*?&]et]="/[@$![class.m   <li 
     er</li>umb">One n|| '')e valutrol?.asswordConest(newPd/.tet]="/\ [class.m <li      li>
 </letteruppercase ne || '')">O.value ontrol?newPasswordC.test(-Z]//[At]="class.me<li [     er</li>
   e lettlowercas'')">One value || ol?.ntrrdCoswoewPasst(n"/[a-z]/.tess.met]=   <li [cla/li>
     racters<chaAt least 8 ">length >= 8lue?.ntrol?.vasswordCoPa.met]="newass [cl        <li <ul>

     nts:</h4>rd Requireme4>Passwo     <h>
 ts"d-requiremenworasslass="pdiv c->
    <ements - Requirssword   <!-- Pa</div>

     </div>
    d') }}
  ssworr('confirmPaieldErro {{ getF">
       or="field-errass')" clfirmPassword('coneldError"getFif=  <div *ngI  iv>
  /d    <utton>
  
        </bsvg>       </1"/>
    278 6.878L21.878L3 3m6.842M9.878 9242 4.2878 9.878l4. 4.243M9.4.243908a3 3 0 11m5.858.3-3.029011.569.97 9.97 0 943-9.543-7a.268-2..478 0-80 0112 19c-4.05 10.05 A10875 18.82513.   d="M              
 " th="2troke-wid="round" sejoin-lintroke"round" se-linecap=<path strok         
    24 24">0 0"wBox=or" vieentCol"curr=oke strl="none"word()" filssConfirmPaow *ngIf="shsvg   <
       g></sv
          542-7z"/>943-9.8.268-2.477 0--4.9.542 75.064 7-1.274 4.057-9.542 7-943  8.268 2.5c4.478 02  7.523 5 13.732 7.94358 12C    d="M2.4              " 
2idth="" stroke-wundinejoin="ro stroke-lround""cap=-linestroke   <path 
          016 0z"/>3 06 0 3  3 0 11-5 12a3     d="M1         "2" 
    idth=-wnd" stroke"roulinejoin=e-d" strokcap="rounke-linetro     <path s   ">
    0 24 24="0 wBox vierrentColor"oke="cu" str fill="nonerd()"PasswoowConfirmgIf="!shvg *n  <s             >
   ty()"
dVisibilirmPassworonfiggleC"to  (click)=    
    gle"assword-tog="p   class   tton"
    "bu      type=button
           <
  />
       ssword"w-pamplete="ne   autoco     )"
  irmPassword'dError('conf="getFielr]roclass.er    ["
      nputs="form-i    clas     d"
 worssew pa="Confirm nerold     placeh
     assword""confirmPontrolName=  formC       "
 ord''passwt' : tex ? 'Password()nfirmCoshow  [type]="
        d"ssworonfirmPa      id="c
       <input     >
iv       </d  </svg>
    />
     0 0118 0z"8 0 9 9 1-1m6 2a9 9 0 112l2 2 4-4d="M9               " 
    "2width=d" stroke-="rounoinroke-linej" stundinecap="roke-l stro<path        >
    24 24"x="0 0 lor" viewBontCooke="curre strnone"vg fill="     <s>
     con""input-is=   <div clasr">
     put-wrappe class="in
      <div/label>word<irm New Pass">Conffield-label class="ssword"confirmPabel for=" <la">
     -field"formss=    <div clald -->
word Fiessm PaConfir

    <!--  </div>>
         </divrd') }}
r('newPassworo getFieldEr    {{>
    -error""field class="Password')ror('neweldErgetFi *ngIf="   <div  
   
        </div>/span>
  }
        <h }engtth().strengdStr{ getPasswor     {r">
     ngth().coloStre"getPasswordr]=olo [style.ch-text"trengt="sclass    <span     /div>
     <div>
            </color">
 ).gth(swordStrenr]="getPasround-coloyle.backg       [st     h"
h().widtgtwordStrenssth]="getPale.wid      [sty       
h-fill"strengt" class=  
         v <di       -bar">
   rengthstclass="      <div ngth">
  tresword-s"pase" class=valutrol?.wordConPass="new<div *ngIf    ator -->
  ength Indic Strrdswo   <!-- Pas   
   >
   
      </divton>  </but      /svg>
    <      21"/>
 L216.878 6.8783 3m.878L42M9.878 978l4.242 4.29.878 9.8243M.243 4.3 3 0 11408am5.858.911.563-3.029.97 9.97 0 043-7a9.53-968-2.948.2c-4.478 0- 0112 19 00.0505 15 18.825A10..87"M13d=             2" 
     dth="" stroke-win="roundoke-linejoiound" strinecap="rath stroke-l<p        ">
    0 0 24 24ewBox="Color" virrentke="cu stroone"ll="nfi" ()wPassword="showNevg *ngIf <s  
          </svg>>
       "/-7z943-9.542268-2.4.477 0-8.542 7--9..064 7.057-52 7-1.274 4943 9.548 0 8.268 2.c4.4723 5 12 543 7.5732 7.9C3.58 12   d="M2.4      
         "2" =-widthd" strokeounin="rroke-linejound" stp="roroke-linecah st    <pat    />
    16 0z"3 0 06 0 3 11- 0 5 12a3 3="M1  d            
    "2" e-width=" strokund"ro=e-linejoin" strokundecap="rotroke-linpath s      <   
   "> 24x="0 0 24or" viewBo"currentCole" stroke=ill="non" fassword()showNewP="!ngIf   <svg *    >
    "
       ity()ordVisibilleNewPasswgg="to(click)        e"
  d-toggl"passworss=   cla       "
"button    type=  tton
     <bu />
            
  assword"w-pete="ne  autocompl     "
   sword')or('newPas"getFieldError]=.err    [classut"
      form-inp class=""
         sswordnew pa"Enter er=acehold      pl    assword"
Name="newPrmControl    fo      word'"
'pass? 'text' : Password() wNewe]="sho    [typ    rd"
  "newPasswo  id=          <input
 iv>
         </d  
  vg></s    "/>
      6 0 1121 9z4A6 7l5.964-5.961.293-.700 0.586a1 1 -2 01-1-1v7v2H4a1 1 0H9v2H1 175.743L10 01-7.743 6 0a6 12 2m4  0"M15 7a2 2 0=           d       th="2" 
 stroke-wid"round"nejoin=stroke-lind" ecap="rou-lintrokepath s  <     
     >0 0 24 24""wBox=r" vie"currentColoroke=" stneno"vg fill=  <s       ">
 -iconinputv class="    <dir">
    appewrut-"inp class=iv>
      <dlabelord</">New Passwield-label"fd" class=ewPassworr="n fo      <labeld">
="form-fielss cla <divld -->
   sword FiePas  <!-- New iv>

    </div>
      </d }}
  assword')urrentPr('cieldErro  {{ getF
      rror">ield-e" class="fassword')r('currentPieldErrogetFdiv *ngIf="iv>
      <</d   
   on>butt      </vg>
           </s
 "/>78L21 21m6.878 6.878 9.878L3 39.82 4.242M9.878l4.248 .243M9.87114.243 4a3 3 0 29m5.858.908 011.563-3.0.97 9.97 03-7a943-9.548.268-2.98 0-12 19c-4.470 015 10.05 5A10.05 18.82d="M13.87                2" 
  th="ke-widd" stroin="rounke-linejod" stro"rounp=e-linecaok   <path str
         "> 24"0 0 24ewBox=ntColor" vi"curretroke=e" s"non=fill" ntPassword()owCurreIf="sh<svg *ng    g>
             </sv"/>
   2-7z2.943-9.548-26-4.477 0-8.9.542 7064 7-7-5.4 4.05542 7-1.2743 9..9.268 20 8.478 2 5c4 5 1237.943 7.5732 3.8 12C   d="M2.45         
       th="2"oke-wid" strundjoin="roine-l" strokeound"rp=roke-linecah st        <pat>
    "/ 016 0z 011-6 0 3 30 2a3 3 ="M15 1     d           "2" 
  roke-width="round" stn=linejoind" stroke-ecap="rouh stroke-lin <pat    
       > 24"0 240 "x=iewBoColor" vcurrent" stroke=""none=rd()" filltPasswoshowCurrenngIf="!    <svg *>
      "
        )ity(VisibilrdasswoCurrentPoggle(click)="t    le"
      d-togg="passworass        clbutton"
  type="          on
      <butt   />
  
     -password"e="currentomplet autoc
         sword')"('currentPasrror="getFieldEass.error]cl    [  ut"
    inp="form-       classsword"
   rent pas"Enter curolder=  placeh     "
   Passwordrente="curmControlNam for      "
   word'ext' : 'passord() ? 'trrentPasswe]="showCu     [typ    d"
 rentPassworcur  id="          <input
 
        </div>svg>
              </>
 h8z"/ 00-8 0v4V7a4 4 0-10 002 2zm10v6a2 2 0