// =============================================================================
// Button Sizes
// =============================================================================

.btn-xs {
  @include button-size('xs');
  padding: 0.125rem 0.5rem;
  font-size: $font-size-xs;
  min-height: $height-xs;
  
  .btn-icon {
    width: $icon-xs;
    height: $icon-xs;
  }
}

.btn-sm {
  @include button-size('sm');
  
  .btn-icon {
    width: $icon-sm;
    height: $icon-sm;
  }
}

.btn-md {
  @include button-size('md');
  
  .btn-icon {
    width: $icon-md;
    height: $icon-md;
  }
}

.btn-lg {
  @include button-size('lg');
  
  .btn-icon {
    width: $icon-lg;
    height: $icon-lg;
  }
}

.btn-xl {
  padding: $spacing-4 $spacing-8;
  font-size: $font-size-xl;
  min-height: $height-xl;
  
  .btn-icon {
    width: $icon-xl;
    height: $icon-xl;
  }
}