<div class="flex min-h-[calc(100vh-56px)]">
  <!-- Left Sidebar -->
  @if (showLeftSidebar) {
    <app-left-sidebar 
      [menuItems]="leftMenuItems"
      [shortcuts]="shortcuts"
      [showUserProfile]="showUserProfile"
      [showFooter]="showFooter">
    </app-left-sidebar>
  }

  <!-- Main Content Area -->
  <main class="flex-1 min-w-0 overflow-x-hidden">
    <div class="max-w-[1200px] mx-auto p-4 lg:p-6">
      <ng-content></ng-content>
    </div>
  </main>

  <!-- Right Sidebar -->
  @if (showRightSidebar) {
    <app-right-sidebar
      class="hidden xl:block"
      [sponsoredItems]="sponsoredItems"
      [events]="events"
      [contacts]="contacts"
      [showSponsored]="showSponsored"
      [showEvents]="showEvents"
      [showContacts]="showContacts">
    </app-right-sidebar>
  }
</div>
